html, body {
    position: absolute;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: lightblue;
    background-image: url("Img/RegistrationBackround.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.form-container {
    position: relative;
    background-color: white;
    width: 50%;
    height: 9%;
    margin: 0 auto;
    margin-top: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 3px 5px 7px #2c2828;
    border-radius: 50px 0px 50px 0px;
    
}

.container-content {
    width:fit-content;
    padding-top: 3%;
    padding-left: 2%;
    padding-bottom:2%;
    margin: 2%;
    height: fit-content;
    display: inline-block;
}

.header-content {
    color: rgb(0, 0, 0);
    font-size: 24px;
}

.form-content {
    width: inherit;
    height: 100%;
}

.message, .label, .input {
    width: 100%;
    font-size: 22px;
    padding-top: 2%;
    padding-bottom: 5%;
    color: rgb(0, 0, 0);
}

#email, #password, #name ,#confirm-password{
    border: 3px solid rgb(9, 153, 146);
    border-radius: 30px;
    font-size: large;
    margin: 1%;
    padding: 2%;
}
    #email:hover, #password:hover, #name:hover, #confirm-password:hover {
        border: 3px solid rgb(13, 83, 79);
    }
    .action {
    padding-top: 3%;
    padding-bottom:5%;
}

.btn {
    padding-top: 2%;
    padding-bottom: 3%;
}

.link-content{
    padding-top:2%;
    padding-bottom:2%;
}

.redirect-register, .redirect-forgot-password{
    padding-top: 2%;
    padding-bottom: 2%;
}

#login,#register {
    padding: 2%;
    padding-bottom:2%;
    font-size: 18px;
    font-weight: bold;
    width: 40%;
    height: 40px;
    border: 3px solid rgb(9, 153, 146);
    background-color: rgb(9, 153, 146);
    color: rgb(255, 255, 255);
    border-radius: 30px;
}

#login:hover,#register:hover {
    border: 3px solid rgb(13, 83, 79);
    background-color: rgb(13, 83, 79);
    color: rgb(251, 251, 251);
}
.error-msg{
    padding-top:2%;
    padding-bottom:4%;
    font-size:16px;
    color:red;
}