* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 2%;
    background-color: rgb(180, 193, 240);
}

.page {
    max-width: 700px;
    width: 100%;
    background-color: white;
    padding: 2% 3%;
    border-radius: 10px;
}

.header {
    font-size: 20px;
    font-weight: 500;
    position: relative;
}

    .header::before {
        content: '';
        position: absolute;
        height: 3%;
        width: 10%;
        left: 0;
        bottom: 0;
        background: rgb(149, 161, 205);
    }

.page-message {
    font-weight: 500;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.segment-header {
    font-weight: 500;
    margin-bottom: 5px;
}

.page form .student-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .student-details .info-input {
    margin-bottom: 15px;
    width: calc(100%/2 - 20px);
}

form .student-details .info-header {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.student-details .info-input input {
    height: 45px;
    width: 300%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

    .student-details .info-input input:focus {
        border-color: rgb(246, 218, 222);
    }

.dynamic-subjects .new-subject select {
    height: 45px;
    width: 400%;
    outline: none;
    border-radius: 5px;
}

#add-dropdown-btn {
    background-image: url("Img/Add.png");
    background-size: cover;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
}

#remove-dropdown-btn {
    background-image: url("Img/Remove.png");
    background-size: cover;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
}

@media(min-width:300px) {
    .page {
        max-width: 100%;
    }

    .student-details .info-input input {
        margin-bottom: 15px;
        width: 350%;
    }

    .dynamic-subject .new-subject select {
        height: 45px;
        width: 350%;
    }
}
