<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.StudentRegistrationMCVConnectionString"
            connectionString="Data Source=L-PW02X087;Initial Catalog=StudentRegistrationMCV;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>